<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewBag.Title - Demo EF</title>
</head>
<body>
    <header>
        @Html.Partial("_LoginPartial")
    </header>
    <hr />

    @RenderBody()
</body>
</html>